* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.box {
    width: 500px;
    height: 500px;
    background-color: rgb(245, 171, 74);
    max-width: 58%;
    border: 3px solid #ffffff;
    box-shadow: 20px #000 inset;
    border-radius: 10px;
    margin: 20px auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(/css/Clasicas\ canciones.png);
    background-size: 10rem;
}

h1 {
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
    background-color: orange;
    color: #ffffff;
}

p { font-size: xx-large;
    margin: 100px;
    background-color: orange;
    color: #ffffff
}
